/* 
    InvestBit Styles

    Brian Chen
    Nick Walsh
    Brian Yang
 */

/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

$fonts : 'Source Sans Pro', Arial, sans-serif;

/* Colors are based on the Material Design palette */
$blue : #29b6f6;
$green : #489d4a;
$white : #fff;
$black : #000;
$gray: #757575;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;
}

@mixin clearfix() {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

@mixin transition($length) {
    -webkit-transition: all $length ease-in-out;
    -moz-transition: all $length ease-in-out;
    transition: all $length ease-in-out;
}

body,
html {
    background-color: $white;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font: 16px $fonts;
    color: #000000;
    padding-bottom: 100px; /* fix for sticky footer */
}

strong {
    font-weight: bold;
}

::-moz-selection {
    background-color: $blue;
}

::selection {
    background-color: $blue;
}

a {
    @include transition(1s);
}

h1 {
    font-size: 2.0em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.6em;
}

.left {
    float: left;
}

.right {
    float: right;
}

.container {
    padding: 15px;
    text-align: center;
}
#header {
    width: 100%;
    padding: 20px 0;
    
    h1 {
        text-align: center;
    }
}

#nav {
    background: $blue;
    
    a#home {
        text-align: center;
    }
}

#welcome {
    background-color: $green;
}

#start {
    @include clearfix();
    padding: 60px;
}

.button {
    background: transparent;
    border: 1px $green solid;
    color: $green;
    cursor: pointer;
    @include border-radius(5px);
    @include transition(.5s);
    
    &:hover {
        background: $green;
        color: $white;
    }
}

#start {
    width: 600px;
    margin: auto;
    .button {
        font-size: 2.5em;
        padding: 15px;
    }
}

#stocks-page, #analysts-page {
    padding: 15px;
    width: 800px;
    margin: auto;
    text-align: center;
}

form {
    text-align: center;
    label {
        margin-right: 10px;
    }
}

input {
    font: 16px $fonts;
    margin-top: 5px;
    padding: 10px;

    &:active, &:focus {
        @include transition(.1s);
        -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
        box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
    }
}

input[type="submit"] {
    margin-left: 5px;
}

input.upperCase {
    text-transform: uppercase;
}

#footer {
    background: $gray;
    color: $white;
    bottom: 0px;
    text-align: center;
    position: fixed;
    width: 100%;
    padding: 10px 0;
}

#home-link {
    position: absolute;
    top: 200px;
    left: 15px;
}

#other-link {
    position: absolute;
    top: 200px;
    right: 15px;
}
#values {
    width: 100%;
}



div[id$="resultBox"] {
    padding: 15px;
    margin-top: 15px;
}

#priceGraph {
    padding: 15px 0;
}

ul#factList li {
    padding-bottom: 5px;
}

ul#infractions {
    list-style: disc;
    width: 150px;
    margin: auto;
}
